@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,800;0,900;1,400&display=swap');

body{
    font-family: "Poppins",sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
}

/* Header */
header{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 11;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

header .brand-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}

header .brand-name a::before{
    content: '';
    height: 3px;
    width: 100px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
}

header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position:absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}

header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}

header .navbar ul li a,.active::before{
    width: 100%;
    left: 0;
}
/* Home */
.Home{
    min-height: 100vh;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.Home .fullscreen{
    min-height: 100vh;
}

.Home .Home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Home .Home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin-top: 50px;
}

.Home .Home-content .block h6{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500px;
    margin: 0;
    padding: 0;
}

.Home .Home-content .block h1{
    color: #ffffff;
    font-size: 55px;
    font-weight: 600px;
    margin: 0;
    padding: 0;
}

.Home .Home-content .block h3{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500px;
    margin: 0;
    padding: 0;
}

.Home .Home-content .block .cv-btn{
    padding-top: 20px;
}

.Home .Home-content .block .cv-btn a{
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.Home .Home-content .block .cv-btn a:hover{
    background-color: #ffffff;
    color: #000000;
}